# Acceration Measurement Experiment

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

## Data Manipulation

In [10]:
text_data = pd.read_csv('data/110190704_Dataset1.txt') 
text_data # The dataset is a plain text file, it needs to be manipulated

,Time,t (s) Output Voltage,Vout (V)
0,1 0.0 4.181392,NaN,NaN
1,2 0.1 0.313632,NaN,NaN
2,3 0.2 -3.774455,NaN,NaN
3,4 0.3 -0.852857,NaN,NaN
4,5 0.4 3.321652,NaN,NaN
...,...,...,...
195,196 19.5 -0.000247,NaN,NaN
196,197 19.6 -0.000588,NaN,NaN
197,198 19.7 0.000138,NaN,NaN
198,199 19.8 0.000558,NaN,NaN
199,200 19.9 -0.000042,NaN,NaN

In [12]:
# Separating the data into columns based on white spaces
data1 = pd.read_csv('data/110190704_Dataset1.txt', delim_whitespace=True)
data1

     Time,     t       (s)  Output  Voltage,  Vout  (V)
0        1   0.0  4.181392     NaN       NaN   NaN  NaN
1        2   0.1  0.313632     NaN       NaN   NaN  NaN
2        3   0.2 -3.774455     NaN       NaN   NaN  NaN
3        4   0.3 -0.852857     NaN       NaN   NaN  NaN
4        5   0.4  3.321652     NaN       NaN   NaN  NaN
..     ...   ...       ...     ...       ...   ...  ...
195    196  19.5 -0.000247     NaN       NaN   NaN  NaN
196    197  19.6 -0.000588     NaN       NaN   NaN  NaN
197    198  19.7  0.000138     NaN       NaN   NaN  NaN
198    199  19.8  0.000558     NaN       NaN   NaN  NaN
199    200  19.9 -0.000042     NaN       NaN   NaN  NaN

[200 rows x 7 columns]

In [34]:
data1.drop(data1.columns[3:], axis=1, inplace=True) # Dropping blank columns
data1

     Time,     t       (s)
0        1   0.0  4.181392
1        2   0.1  0.313632
2        3   0.2 -3.774455
3        4   0.3 -0.852857
4        5   0.4  3.321652
..     ...   ...       ...
195    196  19.5 -0.000247
196    197  19.6 -0.000588
197    198  19.7  0.000138
198    199  19.8  0.000558
199    200  19.9 -0.000042

[200 rows x 3 columns]

In [45]:
# Instead of using column names, generic expressions are used
data1.rename(columns={data1.columns[0]: 'attempt',data1.columns[1]: 'time_s',data1.columns[2]: 'voltage_v' }, inplace=True)

### Dataset 1

In [46]:
data1 # The dataset is manipulated

     attempt  time_s  voltage_v
0          1     0.0   4.181392
1          2     0.1   0.313632
2          3     0.2  -3.774455
3          4     0.3  -0.852857
4          5     0.4   3.321652
..       ...     ...        ...
195      196    19.5  -0.000247
196      197    19.6  -0.000588
197      198    19.7   0.000138
198      199    19.8   0.000558
199      200    19.9  -0.000042

[200 rows x 3 columns]

### Dataset 2

In [52]:
# The steps may be implemented to any dataset
data2 = pd.read_csv('data/110190704_Dataset2.txt', delim_whitespace=True)
data2.drop(data2.columns[3:], axis=1, inplace=True)
data2.rename(columns={data2.columns[0]: 'attempt',data2.columns[1]: 'time_s',data2.columns[2]: 'voltage_v' }, inplace=True)
data2

     attempt  time_s  voltage_v
0          1    0.00   4.181392
1          2    0.15  -2.419706
2          3    0.30  -0.852857
3          4    0.45   3.101206
4          5    0.60  -2.844083
..       ...     ...        ...
195      196   29.25  -0.000008
196      197   29.40   0.000003
197      198   29.55   0.000003
198      199   29.70  -0.000006
199      200   29.85   0.000005

[200 rows x 3 columns]

### Dataset 3

In [53]:
data3 = pd.read_csv('data/110190704_Dataset3.txt', delim_whitespace=True)
data3.drop(data3.columns[3:], axis=1, inplace=True)
data3.rename(columns={data3.columns[0]: 'attempt',data3.columns[1]: 'time_s',data3.columns[2]: 'voltage_v' }, inplace=True)
data3

     attempt  time_s  voltage_v
0          1     0.0   4.181392
1          2     0.2  -3.774455
2          3     0.4   3.321652
3          4     0.6  -2.844083
4          5     0.8   2.360111
..       ...     ...        ...
195      196    39.0  -0.000000
196      197    39.2   0.000000
197      198    39.4  -0.000000
198      199    39.6   0.000000
199      200    39.8  -0.000000

[200 rows x 3 columns]

### Dataset 4

In [54]:
data4 = pd.read_csv('data/110190704_Dataset4.txt', delim_whitespace=True)
data4.drop(data4.columns[3:], axis=1, inplace=True)
data4.rename(columns={data4.columns[0]: 'attempt',data4.columns[1]: 'time_s',data4.columns[2]: 'voltage_v' }, inplace=True)
data4

     attempt  time_s  voltage_v
0          1    0.00   4.181392
1          2    0.25  -3.106770
2          3    0.50   1.277745
3          4    0.75   0.582079
4          5    1.00  -1.885269
..       ...     ...        ...
195      196   48.75   0.000000
196      197   49.00  -0.000000
197      198   49.25   0.000000
198      199   49.50  -0.000000
199      200   49.75   0.000000

[200 rows x 3 columns]

### Dataset 5

In [55]:
data5 = pd.read_csv('data/110190704_Dataset5.txt', delim_whitespace=True)
data5.drop(data5.columns[3:], axis=1, inplace=True)
data5.rename(columns={data5.columns[0]: 'attempt',data5.columns[1]: 'time_s',data5.columns[2]: 'voltage_v' }, inplace=True)
data5

     attempt  time_s  voltage_v
0          1     0.0   4.181392
1          2     1.0  -1.885269
2          3     2.0  -0.000000
3          4     3.0   0.766493
4          5     4.0  -0.691179
..       ...     ...        ...
195      196   195.0   0.000000
196      197   196.0  -0.000000
197      198   197.0   0.000000
198      199   198.0   0.000000
199      200   199.0  -0.000000

[200 rows x 3 columns]